<html>
<link rel="stylesheet" href="github-markdown.css">
<style type="text/css">
  .markdown-body {
      min-width: 200px;
      max-width: 790px;
      margin: 0 auto;
      padding: 30px;
  }
</style>
<body class="markdown-body">
<%=content%>
<script src='http://localhost:35729/livereload.js'></script>
</body>
</html>
